* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:#2b2b2b;
}

body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#ffffff;
}

nav ul {
  list-style: none;
  margin-top: 0px;
  display:flex;
  align-items:flex-end;
}

nav ul li{
  display:inline-block;
  margin:0 10px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s, border-bottom 0.3s;
}

a:link {
  color: #ffffff; 
}

a:visited {
  color: #ffd000; 
}

a:hover {
  color: #ffb3b3; 
  text-decoration: underline;
}

a:active {
  color: #ff0000; 
}

footer {
  width:100%;
  background-color:#050505;
  color:#fff;
  text-align:center;
  padding:1rem;
  top:90%;
  position:fixed;
}